@import '../../styles/shared.scss';

// Title container
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Title text
.title {
  display: inline;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;

  font-size: 35px;

  color: $main-color;

  opacity: 1;
  transition: opacity $transition-duration linear;

  cursor: default;

  &:hover,
  &:focus {
    opacity: 0.8;
    transition: opacity $transition-duration $timing-function;
  }

  @media screen and (min-width: $mobile) {
    font-size: 2rem;
  }
}

// Title react animation
.appear {
  transform: translateY(-100%) scaleX(3);
  opacity: 0;
}

.appearActive {
  transform: translateY(0) scaleX(1);
  opacity: 1;
  transition: all 0.5s linear;
}
